{% extends "main.html" %}

{% block content %}
  <div class="row">
    <h2>Edit Alliance:  {{ alliance.name }}</h2>
  </div>
  <div class="row">
    <div class="col col-md-12">
      <form method="post" action="{{ url_for('editAlliance', alliance_id=alliance.id)}}">
        <div class="form-group">
					<label for="name">Name: </label>
					<input type ="text" class="form-control" name="name" value="{{ alliance.name }}">
					<div style="margin-top: 1rem">
				  	<button type="submit" class="btn btn-success" id="submit" type="submit">
							Update
						</button>
            &nbsp;
            &nbsp;
							<a href = "{{ url_for('showAlliance', id=alliance.id) }}">
								Cancel
							</a>
            <br>

					</div>
				</div>
      </form>
    </div>
  </div>
{% endblock %}
